<template name= "aboutUs">
  <div class="margin-fixer">
    <h1>About Us</h1>
    <p><strong>Team Name:</strong> Standing Tiger, Obvious Dragon</p>
    <p><strong>Team Members:</strong> Akshay Batra, Alexander Weiss, Nathan Shelly, Upasna Madhok</p><br  />
    <h4>What is PoliTalk? Why PoliTalk?</h4>
    <p>
      Local politicians often have opportunities to interact with their constituents in-person at small rallies or similar events.
      During these brief interactions a citizen will have several questions for the candidate or specific issues they would like to talk about.
      These conversations could be more in-depth or fruitful if the citizen went into them with a basic understanding of the candidates
      and the candidate in turn knew what the citizen was curious about. Our idea would attempt to give the candidate and citizens
      this information about each other by matching them and providing a summary of issues the two should talk about.
    </p>
  </div>
</template>
