<template name="donate">
   <div class="row findEventCard">
      <div class="col s12">
         <h3>Donate</h3>
         <hr>
         <div class="input-field col s4 offset-s1">
            <h6>Which campaign would you like to donate to?</h6>
            <select>
               <option value="" disabled selected>Choose the campaign</option>
               <option value="1">Daniel Biss</option>
               <option value="2">Jan Schakowsky</option>
               <option value="3">Bernie Sanders</option>
               <option value="4">John Kasich</option>
            </select>
         </div>
         <div class="input-field col s4 offset-s2">
           <h6>Amount to Donate</h6>
           <i class="material-icons prefix">attach_money</i>
           <input id="donateField" class="validate">
       </div>
      </div>
   </div>
   <div class="row findEventCard center">
      <div class="col s12">
         <a class="waves-effect waves-light btn" id="donate">Donate!</a>
      </div>
   </div>
</template>
