<template name="newsFeed">
   <div class="row findEventCard">
      <div class="col s6 offset-s3">
         <h3>Trending</h3>
         <hr>
         {{#each getPosts}}
            {{> newsCard}}
         {{/each}}

            <div class="loadMorePosts">
            <a class="missingPostButton waves-effect waves-light btn">Load More Posts</a>
            <div class="missingPostsFeature">
               <br /><br />
               <h4>Feature coming soon</h4>
               <div class="progress">
                  <div class="indeterminate"></div>
               </div>
            </div>
         </div>

      </div>
   </div>
</template>
