<template name="notYetImplemented">
    <div class="row">
        <div class="col s6 offset-s3">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text featureComingSoon">
              <h2>Sorry this feature is not yet implemented.</h2>
              <h2>Feature coming very soon! We promise!</h2>
              <h3>For now enjoy the pretty colors!</h3>
            </div>
          </div>
        </div>
      </div>
<div class="featureComingSoon">
    <div class="preloader-wrapper big active">
       <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
             <div class="circle"></div>
          </div>
          <div class="gap-patch">
             <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
             <div class="circle"></div>
          </div>
       </div>

       <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
             <div class="circle"></div>
          </div>
          <div class="gap-patch">
             <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
             <div class="circle"></div>
          </div>
       </div>

       <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
             <div class="circle"></div>
          </div>
          <div class="gap-patch">
             <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
             <div class="circle"></div>
          </div>
       </div>

       <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
             <div class="circle"></div>
          </div>
          <div class="gap-patch">
             <div class="circle"></div>
          </div>
          <div class="circle-clipper right">
             <div class="circle"></div>
          </div>
       </div>
    </div>
</div>
</template>
