<!-- Need to define css ids, or classes for everything labeled placeholder to beautify -->

<template name="publishedProfile">
  <div class="container">
    <div id="placeholder">
      <div id="placeholder" class="card">
        <div class="row">
          <div class="col s3 card-image waves-effect waves-block waves-light">
              <img class="activator" src="tempJeb.jpg" alt="user Profile">
          </div>
          <div class="card-content">
              <div class="col s6">
                  <h2 class="card-title black-text text-darken-4"> Jeb Bush </h2>
              </div>
          </div>
      </div>
      </div>
    </div>
    <div id="placeholder" class="row">
      <div id="placeholder" class="col s4">
        <!-- Profile About  -->
        <div class="card light-blue">
          <div class="card-content white-text">
            <span class="card-title">About Me!</span>
            <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <!-- profile-page-sidebar-->
      <div id="placeholder" class="col s8">
        <!-- profile-page-wall-share -->
        <div id="placeholder" class="row">
          <div class="col s12">
            <ul class="tabs tab-profile z-depth-1 light-blue">
              <li class="tab col s3"><a class="white-text waves-effect waves-light active" href="#UpdateStatus"><i class="mdi-editor-border-color"></i> Update Status</a>
              </li>
              <li class="tab col s3"><a class="white-text waves-effect waves-light" href="#AddPhotos"><i class="mdi-image-camera-alt"></i> Add Photos</a>
              </li>
            </ul>
            <!-- UpdateStatus-->
            <div id="placeholder" class="tab-content col s12  grey lighten-4">
              <div class="row">
                <div class="input-field col s10">
                  <textarea id="textarea" row="2" class="materialize-textarea"></textarea>
                  <label for="textarea" class="">What's on your mind?</label>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m6 share-icons">
                  <a href="#"><i class="mdi-image-camera-alt"></i></a>
                  <a href="#"><i class="mdi-action-account-circle"></i></a>
                  <a href="#"><i class="mdi-hardware-keyboard-alt"></i></a>
                  <a href="#"><i class="mdi-communication-location-on"></i></a>
                </div>
                <div class="col s12 m6 right-align">
                    <a class="waves-effect waves-light btn"><i class="mdi-maps-rate-review left"></i>Post</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="placeholder" class="col s6">
          <!-- Profile About  -->
          <div class="card light-blue">
            <div class="card-content white-text">
              <span class="card-title">Issues I care about!</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
        <div id="placeholder" class="col s6">
          <!-- Profile About  -->
          <div class="card light-blue">
            <div class="card-content white-text">
              <span class="card-title">Candidates I Identify With!</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>
</template>
