bolded {
  font-weight: bold;
  font-size: 15px;
}

nav .brand-logo {
   padding: 0 10px;
}

.material-icons.md-dark {
   color: black;
   text-align: center;
}

.footerLinksDiv {
   float: left;
   padding: 0 10px;
}

.footerLink {
   padding: 0 5px;
}

.copyright {
   float: right;
   text-align: right;
   padding: 0 15px;
}

.search-bar{
  padding-left: 200px;
}

.margin-fixer{
  padding-left: 30px;
}

form p {
   float: left;
   margin: 0 10px 0 0;
}

#login-buttons a {
   text-decoration: none;
   cursor: pointer;
   transition: background-color 2s;
}

.select-wrapper input.select-dropdown {
   font-size: 14px;
}


body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }

 .card .card-image {
   width: 220px;
   height: 301px;
   float: left;
   padding: 5px;
 }

 .card .card-image img {
   height: 100%;
 }

 .card.customCardContent {
   height: 301px;
   background-color: #ebebeb;
 }

 .card-title {
    padding: 30px;
}

.cardText {
   padding: 0 10px 0 230px;
}

.sharing {
   position: relative;
   top: 50px;
   text-align: center;
}

.sharingIcon {
   padding: 0 5px;
}

.findEventsButton {
  text-align: center;
  padding: 10px !important;
}

.findEventsText {
  text-align: center;
  padding: 10px !important;
}

.findEventCard {
  padding: 10px 0 0 0;
}
