nav .brand-logo {
   padding: 0 10px;
}

.material-icons.md-dark {
   color: black;
   text-align: center;
}

.footerLinksDiv {
   float: left;
   padding: 0 10px;
}

.footerLink {
   padding: 0 5px;
}

.copyright {
   float: right;
   text-align: right;
   padding: 0 15px;
}

.card .card-image img {
  position: relative;
  border-radius: 2px 2px 0 0;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}


form p {
   float: left;
   margin: 0 10px 0 0;
}

#login-buttons a {
   text-decoration: none;
   cursor: pointer;
   transition: background-color 2s;
}

.select-wrapper input.select-dropdown {
   font-size: 14px;
}

body {
   display: flex;
   min-height: 100vh;
   flex-direction: column;
 }

 main {
   flex: 1 0 auto;
 }
