nav .brand-logo {
   padding: 0 10px;
}

.material-icons.md-dark {
   color: black;
   text-align: center;
}

.footerLinksDiv {
   float: left;
   padding: 0 10px;
}

.footerLink {
   padding: 0 5px;
}

.copyright {
   float: right;
   text-align: right;
   padding: 0 15px;
}

form p {
   float: left;
   margin: 0 10px 0 0;
}

.profileForm {

}
